.env
/AIML Demo/Lib
*.pyc
/jupyterworkapce/11 genAI/reuters21578
/AIML Demo/Scripts
/jupyterworkapce/11 genAI/.ipynb_checkpoints
/jupyterworkapce/11 genAI/bert_downloads
/jupyterworkapce/11 genAI/book_db
/jupyterworkapce/11 genAI/local_bert_base_uncased
/jupyterworkapce/20 Agentic AI/.ipynb_checkpoints
/jupyterworkapce/18 gradio/.ipynb_checkpoints
*.npy
*.db
vscodeworkspace/ai-document-services/src/llm/__init__.py
/jupyterworkapce/19 os/.ipynb_checkpoints
/vscodeworkspace/ai-services/.idea
/jupyterworkapce/genai course/llm applications/wiki_db
/jupyterworkapce/genai course/llm applications/.ipynb_checkpoints
/jupyterworkapce/genai course/projects/.ipynb_checkpoints
/jupyterworkapce/genai course/projects/chatbot/.ipynb_checkpoints
/jupyterworkapce/genai course/capstoneproject/.ipynb_checkpoints
/jupyterworkapce/aiml course projects/Project 6 ANN/.ipynb_checkpoints
/jupyterworkapce/delete/.ipynb_checkpoints
/jupyterworkapce/genai course/projects/image generation/.ipynb_checkpoints
*.gz
*.pdf
~$*
jupyterworkapce/stratup_env_setup.py
/vscodeworkspace/python/.idea
/jupyterworkapce/01 python/.ipynb_checkpoints
jupyterworkapce/01 python/mylog.log
*.log
*.log
jupyterworkapce/.ipynb_checkpoints/stratup_env_setup-checkpoint.py
jupyterworkapce/01 python/.ipynb_checkpoints/python_basics-checkpoint.ipynb
jupyterworkapce/01 python/.ipynb_checkpoints/python_basics-checkpoint.ipynb
jupyterworkapce/01 python/mylog.log
jupyterworkapce/04 numpy/zipped_file_name.npz
jupyterworkapce/04 numpy/zipped_file_name.npz
/jupyterworkapce/genai course/.ipynb_checkpoints
