/Python Demo/
/AIML Demo/Lib/*
/AIML Demo/Include/*
/AIML Demo/Scripts/*
/AIML Demo/Scripts/*
/AIML Demo/pyvenv.cfg
/AIML Demo/.spyproject/*
\AIML Demo\.spyproject\config\defaults\defaults-workspace-0.2.0.ini
